<a href="https://colab.research.google.com/github/lala991204/pandas/blob/master/6_13_df_join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# 라이브러리 불러오기
import pandas as pd

# IPython 디스플레이 설정 변경
pd.set_option('display.max_columns', 10)                       # 출력할 최대 열의 개수
pd.set_option('display.max_colwidth', 20)                      # 출력할 열의 너비
pd.set_option('display.unicode.east_asian_width', True)        # 유니코드 사용 너비 조정

# 주식 데이터를 가져와서 데이터프레임 만들기
df1 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/pandas/stock price.xlsx', engine='openpyxl')
df2 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/pandas/stock valuation.xlsx', engine='openpyxl')


print(df1)
print('\n')
print(df2)

       id    stock_name          value   price
0  128940      한미약품   59385.666667  421000
1  130960        CJ E&M   58540.666667   98900
2  138250    엔에스쇼핑   14558.666667   13200
3  139480        이마트  239230.833333  254500
4  142280  녹십자엠에스     468.833333   10200
5  145990        삼양사   82750.000000   82000
6  185750        종근당   40293.666667  100500
7  192400    쿠쿠홀딩스  179204.666667  177500
8  199800          툴젠   -2514.333333  115400
9  204210  모두투어리츠    3093.333333    3475


       id              name           eps     bps        per       pbr
0  130960            CJ E&M   6301.333333   54068  15.695091  1.829178
1  136480              하림    274.166667    3551  11.489362  0.887074
2  138040    메리츠금융지주   2122.333333   14894   6.313806  0.899691
3  139480            이마트  18268.166667  295780  13.931338  0.860437
4  145990            삼양사   5741.000000  108090  14.283226  0.758627
5  161390        한국타이어   5648.500000   51341   7.453306  0.820007
6  181710   NHN엔터테인먼트   2110.166667   78434  30.755864  0.827447
7  185750            종근당   3990.333333   40684  25.185866  2.470259
8  204210      모두투어리츠     85.166667    5335  40.802348  0.651359
9  207940  삼성바이오로직스   4644.166667   60099  89.790059  6.938551

In [10]:
# 데이터프레임 결합(join)
df3 = df1.join(df2, lsuffix='_left', rsuffix='_right')               # default값은 outer
print(df3)
print('\n')

# 데이터프레임 결합(join) - 교집합
df4 = df1.join(df2, how='inner', lsuffix='_left', rsuffix='_right')
print(df4)

   id_left    stock_name          value   price  id_right              name  \
0   128940      한미약품   59385.666667  421000    130960            CJ E&M
1   130960        CJ E&M   58540.666667   98900    136480              하림
2   138250    엔에스쇼핑   14558.666667   13200    138040    메리츠금융지주
3   139480        이마트  239230.833333  254500    139480            이마트
4   142280  녹십자엠에스     468.833333   10200    145990            삼양사
5   145990        삼양사   82750.000000   82000    161390        한국타이어
6   185750        종근당   40293.666667  100500    181710   NHN엔터테인먼트
7   192400    쿠쿠홀딩스  179204.666667  177500    185750            종근당
8   199800          툴젠   -2514.333333  115400    204210      모두투어리츠
9   204210  모두투어리츠    3093.333333    3475    207940  삼성바이오로직스

            eps     bps        per       pbr
0   6301.333333   54068  15.695091  1.829178
1    274.166667    3551  11.489362  0.887074
2   2122.333333   14894   6.313806  0.899691
3  18268.166667  295780  13.931338  0.860437
4   5741.000000  108090  14.283226  0.758627
5   5648.500000   51341   7.453306  0.820007
6   2110.166667   78434  30.755864  0.827447
7   3990.333333   40684  25.185866  2.470259
8     85.166667    5335  40.802348  0.651359
9   4644.166667   60099  89.790059  6.938551


   id_left    stock_name          value   price  id_right              name  \
0   128940      한미약품   59385.666667  421000    130960            CJ E&M
1   130960        CJ E&M   58540.666667   98900    136480              하림
2   138250    엔에스쇼핑   14558.666667   13200    138040    메리츠금융지주
3   139480        이마트  239230.833333  254500    139480            이마트
4   142280  녹십자엠에스     468.833333   10200    145990            삼양사
5   145990        삼양사   82750.000000   82000    161390        한국타이어
6   185750        종근당   40293.666667  100500    181710   NHN엔터테인먼트
7   192400    쿠쿠홀딩스  179204.666667  177500    185750            종근당
8   199800          툴젠   -2514.333333  115400    204210      모두투어리츠
9   204210  모두투어리츠    3093.333333    3475    207940  삼성바이오로직스

            eps     bps        per       pbr
0   6301.333333   54068  15.695091  1.829178
1    274.166667    3551  11.489362  0.887074
2   2122.333333   14894   6.313806  0.899691
3  18268.166667  295780  13.931338  0.860437
4   5741.000000  108090  14.283226  0.758627
5   5648.500000   51341   7.453306  0.820007
6   2110.166667   78434  30.755864  0.827447
7   3990.333333   40684  25.185866  2.470259
8     85.166667    5335  40.802348  0.651359
9   4644.166667   60099  89.790059  6.938551